@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* base */
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
}

/* footer */
footer {
	background: #316099;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
footer button {
	width: 240px;
	height: 60px;
	background: #5a98d0;
	color: #fff;
	border: none;
	font: inherit;
	letter-spacing: 0.05em;
	cursor: pointer;
}
.topfooter {
	padding: 90px 0 95px;
	border-bottom: 1px solid rgba(255,255,255,.4);
}
.topfooter .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footertext {
	width: 500px;
}
.footertext > div {
	opacity: 0.6;
}
/*
ol.container {
	display: flex;
	list-style-type: upper-alpha;
	gap: 32px;
}
ol.container li {
	flex: 1 1 320px;
	padding-left: 40px;
}
*/
.middlefooter .container {
	display: flex;
	gap: 160px;
	padding: 64px 0;
}
.middlefooter span {
	flex: 1 1 320px;
	padding: 0 0 0 40px;
	position: relative;
}
.middlefooter span::before {
	position: absolute;
	left: 0;
	top: 0;
	content: 'T.';
}
.middlefooter span:first-child::before {
	content: 'A.';
}
.middlefooter span:last-child::before {
	content: 'E.';
}

