/* base */
body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 13px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}

/* header */
.topheader {
	background: #000;
	color: #fff;
	line-height: 40px;
}
.bottomheader {
	background: #f93c00;
	color: #fff;
	line-height:30px;
	padding: 10px 0;
}
.bottomheader .container {
	/*display: flex; вариант 1 */
	text-align: right;
}
.anytext {
	/*flex: 1 1 auto; вариант 1 */
	font-weight: 700;
	float: left;
}
.fakebutton {
	border: 1px solid #fff;
	box-sizing: border-box;
	width: 150px;
	height: 30px;
	text-align: center;
	display: inline-block;
	margin: 0 0 0 20px;
	cursor: pointer;
	/*flex: none; вариант 1 */
}
.fakebutton:hover {
	
}

/* footer */
.f_block {
	border-top: 1px solid #e5e5e5;
}

/* main */
.flexdesk {
	display: flex;
}
aside {
	flex: 0 0 192px;
	margin-right: 20px;
}
.maincontent {
	flex: 1 1 auto;
}